*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(97, 96, 96);
    text-align: center;
    color: rgb(22, 22, 22);

}

button{
    border-color: brown;
    border-style: outset;
    border-radius: 4px;
    text-decoration: solid;
}


li {
    list-style: none;
}

#container {
    width: 290px;
    text-align: center;
    height: auto;
    margin: 4px auto;
}

#calculadora {
width: 234px;
height: 230px;
margin: 0 auto;
padding: 2px;
background-color: cadetblue;
}

.input-valor {
    margin: 8px auto;
    width: 95%;
    height: 30px;
    font-size: 16px;
    overflow: hidden;
    text-align: right;
    color: blue;
    padding: 4px;
    background-color: beige;
    box-shadow: inset -1px -1px 4px -1px #eee;
}

.key li {
    width: 50px;
    height: 30px;
    border-radius: 3px;
    background-color: blue;
    cursor: pointer;
    float: left;
    margin: 0px -3px 1px 8px;
    line-height: 30px;
    text-align: center;
    box-sizing: 1px 4px 2px 1px #444651;
}

.key li:hover {
    backgroud-color: #bef9f0;
    color: #6c73fa;
    transition: 0.2s;
}

.key li:active {
    box-shadow: opx 1px 1px 0px #444651;
}

.verificar {
    width: 93.4 !important;
}

